
div{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  
  table{
    border-style: none;
  }
  
  th {
    border-bottom: 1px solid blueviolet;
  }
  
  td {
    border-bottom: 1px solid blueviolet;
    color: #cc0099;
    text-align: center;
    font: 24px arial, sans-serif;
  }
  td.living {
    border-bottom: 1px solid blueviolet;
    color: #cc0099;
    text-align: center;
    font: 32px arial, sans-serif;
  }td.dead {
    border-bottom: 1px solid blueviolet;
    color: gray;
    text-align: center;
    font: 32px arial, sans-serif, italic;
  }td.memorialAge {
    border-bottom: 1px solid blueviolet;
    color: DarkSlateGray;
    text-align: center;
    font: 72px Alike, serif, italic;
  }

  img{
    width:33%;
    height:33%;
  }

  .example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 4px;
  }
  
  .mat-slider-horizontal {
    width: 200px;
  }
  
  .mat-slider-vertical {
    height: 100px;
  }
  
  .mat-card + .mat-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }

  p.dateRange {
    text-align: center;
    font: 16px Alike, serif, italic;
  }
  p.dateRelative {
    text-align: center;
    font: 12px Alike, serif, italic;
  }